<html>

	<head>

	</head>

	<body>

		<h1>Dizzy chat</h1>

		<form class="input" method='post'>
			<input type="text" class="text" name="text">
			<input type="submit" class="submit" value="chat">
		</form>

	</body>

	<script src='/socket.io/socket.io.js'></script>
	<script src='/js/sockets.js'></script>

<html>